<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>Report A Crime</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
		<style>
		  body { margin:0; padding:0; }
		  #map { position:absolute; top:0; bottom:0; width:100%; }
		</style>
		<style>
			.leaflet-popup-content img {
			  max-width:100%;
			  }
		</style>
	</head>

	<body>
		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />

		<div id='map'></div>
		<script>
		L.mapbox.accessToken = 'pk.eyJ1Ijoic2FydGFqMTAiLCJhIjoiY2ltc3VmYTNnMDFybHY5a2szbnc2Nm1zOSJ9.aBXcbF_M2LXZuKS0VNUNBQ';
		var map = L.mapbox.map('map', 'mapbox.streets').setView([28.6139, 81.2090], 5);  
		map.addControl(L.mapbox.geocoderControl('mapbox.places', {
        	autocomplete: true
    	}));

		L.control.locate().addTo(map);

		var geojson = []

		{% for tweet in tweets %}
		{% if tweet._json['coordinates'] %}

    	var individual = {
	    	"type": "Feature",
	   		"geometry": {
	      		"type": "Point",
	      		"coordinates": {{ tweet._json['coordinates'].get('coordinates') }}
	    	},
    		"properties": {
    			"title" 		: "{{ tweet.user.screen_name }}",
    			"description" 	: "{{ tweet.text }}",
    			{% if tweet._json['entities'].get('media')[0] %}
      			"image"			: "{{ tweet._json['entities'].get('media')[0].get('media_url') }}",
      			{% endif %}
    			"marker-color": "#63b6e5",
      			"marker-size": "large",
      			"marker-symbol": "star"
    		}
  		}
  		geojson.push(individual)

  		{% elif tweet._json['place'] %}

  		var individual = {
	    	"type": "Feature",
	   		"geometry": {
	      		"type": "Point",
	      		"coordinates": {{ tweet._json['place']['bounding_box']['coordinates'][0][0] }}
	    	},
    		"properties": {
    			"title" 		: "{{ tweet.user.screen_name }}",
    			"description" 	: "{{ tweet.text }}",
    			{% if tweet._json['entities'].get('media')[0] %}
      			"image"			: "{{ tweet._json['entities'].get('media')[0].get('media_url') }}",
      			{% endif %}

    			"marker-color": "#63b6e5",
      			"marker-size": "large",
      			"marker-symbol": "star"
    		}
  		}
  		geojson.push(individual)

  		{% endif %}
  		{% endfor %}
  		var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);

  		myLayer.on('layeradd', function(e) {
		  	var marker = e.layer,
		    feature = marker.feature;
		    if(feature.properties.image) {
		  		var content = '<h2>'+ feature.properties.title+'<\/h2>' + '<img src="'+feature.properties.image+'" alt="">';
			  	marker.bindPopup(content);
		  	}
		});
		myLayer.setGeoJSON(geojson);
		
		</script>
	</body>
</html>