{% extends "layout.html" %}
{% block body %}
  <h2>Overview</h2>
  
    {% if tweets %}
    <h3>Your Timeline</h3>
    <ul>
    {% for tweet in tweets %}
    {% if tweet._json['coordinates'] %}
      <li><a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
      
      <li>{{ tweet._json['coordinates'].get('coordinates') }}</li><br>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
    <p>
      Sign in to view your public timeline and to tweet from this
      example application.
    </p>
{% endblock %}